<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./views/documentation.css" />

    <title>Nuclear Cotizador Inmobiliario</title>
  </head>
  <body>
    <header class="container-fluid">
      <div class="overlay">
        <!-- Overlay inner wrapper -->
        <div class="overlay__left">
          <!-- Title -->
          <h1 class="overlay__title">Lleva tu cotizador inmobiliario con <span class="text-gradient">HubSpot</span></h1>
          <!-- Description -->
          <p class="overlay__description">
            Instala nuestra <strong>App en HubSpot,</strong> configuralo y saquele el mejor provecho
          </p>
          <!-- Buttons -->
          <div class="overlay__btns">
            <button class="overlay__btn overlay__btn--colors">
              <a class="nav-link" href="/install">Instalar</a>
            </button>
          </div>
        </div>
        <div class="overlay__right">
          <!--  <img class="responsive-img" src="./assets/img/sincronizacion-vtex-hubspot-crm.jpg" alt="sync" width="450" /> -->
        </div>
      </div>
    </header>

    <div class="container-fluid navbar-container fixed-top">
      <div class="row">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light border-bottom py-2">
            <a class="navbar-brand" href="#">
              <h4>Nuclear - Cotizador Inmobiliario</h4>
            </a>
            <button
              class="navbar-toggler text-white"
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
              aria-controls="navbar"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <img src="./assets/img/bars-solid.svg" alt="menu" />
            </button>
          </nav>
        </div>
      </div>
    </div>

    <div class="container-fluid text-center py-5">
      <div class="overlay red-shadow">
        <div class="overlay__left">
          <h2 class="overlay__title">Pasos para instalar la <span class="text-gradient">App</span></h2>
          <p class="overlay__description">
            1. Busca nuestra App en la tienda de <span class="text-gradient">Marketplace de HubSpot</span>, al ingresar
            hacer click en instalar aplicación.
          </p>
          <p class="overlay__description">
            2. Te redirige a una pagina de HubSpot para solicitar permisos por parte del usuario.
          </p>
          <p class="overlay__description">
            3. Al aceptar el uso de la aplicación te redirige a un asistente en el cual debes llenar.
          </p>
          <p class="overlay__description">
            4. Una vez instalado la aplicación, las caracteristicas necesaria se han instalado en tu portal de HubSpot
          </p>
          <div class="overlay__btns">
            <button class="overlay__btn overlay__btn--colors">
              <a class="nav-link" href="/install"> Instalar </a>
            </button>
          </div>
        </div>
        <div class="overlay__right">
          <img class="responsive-img" src="./assets/img/instalacion.PNG" alt="wizard" width="400" />
        </div>
      </div>
    </div>

    <div class="container-fluid text-center py-5">
      <div class="overlay red-shadow reverse">
        <div class="overlay__left">
          <h1 class="overlay__title">Como utilizar nuestra <span class="text-gradient">App</span> en HubSpot</h1>
          <p class="overlay__description">
            1. Debes crear o editar una pagina web, busca el modulo Nuclear Cotizador y lo agregas a tu pagina.

            <a href="#"><span class="text-gradient" id="step-module">Asistente Paso a Paso</span></a>
          </p>
          <p class="overlay__description">
            2. Debes crear una plantilla personalizada para el Cotizador Inmobiliario.

            <a href="#"><span class="text-gradient" id="step-quote">Asistente Paso a Paso</span></a>
          </p>
          <p class="overlay__description">
            3. Debes crear productos para visualizarlos en la Aplicación.

            <a href="#"><span class="text-gradient" id="step-products">Asistente Paso a Paso</span></a>
          </p>
          <p class="overlay__description">
            4. Cada vez que un cliente usa la aplicación del cotizador, la información suministrada queda guardado en
            HubSpot.<br />
            Cada registro es almacenado y sincronizado en diferentes Objetos de HubSpot (Contactos, Productos y Negocio
            con su Linea de Negocio), Cotizaciones y Plan de pagos(Custom Objects).
            <br />
          </p>

          <p class="overlay__description">
            5. Puedes realizar en HubSpot diferentes WorkFlows, de acuerdo a la información obtenida del cotizador, como
            el registro de un Lead y enviar un correo de Bienvenida o el envio de la cotizacion.
          </p>
        </div>
        <div class="overlay__right">
          <img class="responsive-img" src="./assets/img/HubSpotNegocio.png" alt="wizard" width="450" />
        </div>
      </div>
    </div>

    <div class="container-fluid text-center py-5 pre-footer text-white">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3 mt-4 mt-md-0">Ubicación</h6>
              <a href="https://www.triario.co/" target="_blank" rel="noopener noreferrer"
                ><img src="./assets/img/triarioLogo.svg" alt="logoTriario"
              /></a>

              <p>Medellin, Colombia</p>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3 mt-4 mt-md-0">Nuestras redes Sociales</h6>
              <a
                href="https://www.facebook.com/TriarioSAS/"
                target="_blank"
                class="btn btn-with-icon btn-outline-light rounded-0"
              >
                <img src="./assets/img/facebook-f-brands.svg" alt="facebook" width="30" height="30" />
              </a>
              <a
                href="https://twitter.com/TriarioSAS"
                target="_blank"
                class="btn btn-with-icon btn-outline-light rounded-0"
              >
                <img src="./assets/img/twitter-brands.svg" alt="facebook" width="30" height="30" />
              </a>
              <a
                href="https://www.linkedin.com/company/triario-s-a-s"
                target="_blank"
                class="btn btn-with-icon btn-outline-light rounded-0"
              >
                <img src="./assets/img/linkedin-in-brands.svg" alt="facebook" width="30" height="30" />
              </a>
              <a
                href="https://www.instagram.com/triariodigital/"
                target="_blank"
                class="btn btn-with-icon btn-outline-light rounded-0"
              >
                <img src="./assets/img/instagram-brands.svg" alt="facebook" width="30" height="30" />
              </a>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3 mt-4 mt-md-0">Acerca Cotizador Inmobiliario</h6>
              <p class="text-white">Gestione su cotizador inmobiliario en tu plataforma</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid text-center py-4">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col">
              <p class="text-white">
                Copyright @ 2022
                <a target="_blank" href="https://www.triario.co/" class="text-white">TRIARIO</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.all.min.js"></script>
    <script src="./assets/js/alert.js"></script>
    <script src="./views/documentation.js"></script>
  </body>
</html>
